/* main {
    background-image: url(../assets/rubbish.png);
    background-repeat: no-repeat;
    background-size: 100%;
} */

.exterminator-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
}

.pest-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pests {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.pest {
    /* display: flex;
    flex-direction: row;
    padding: 5px; */
    cursor: pointer;
    border: solid 3px #5d086d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #dea1eb58;
    justify-self: flex-end;
    font-size: 1rem;
}

.dead {
    opacity: 0.2;
    cursor: default;
}

.game-over {
    transform: rotate(180deg);
}
