main {
    background-image: url(../assets/rubbish.png);
    background-repeat: no-repeat;
}

.exterminator-section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pest-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pests {
    flex-direction: row;
}

.row {
    flex-direction: row;
}
